<!DOCTYPE html>
<html>
<body>

<h1>Drink Being Made</h1>
<form method="POST">
  <!input type="submit" name="submit_button" value="1">
  <!input type="submit" name="submit_button" value="2">
  <!input type="submit" name="submit_button" value="3">
  <!input type="submit" name="submit_button" value="4">
  <!input type="submit" name="submit_button" value="5">
  <!input type="submit" name="submit_button" value="6">
  <input type="submit" name="submit_button" value="Go Back">
</form>

<p>Please wait for the drink to be made and then click the "Go Back" Button</p>

</body>
</html>
